<% @title = "Auto-Refresh your Browser on file change - The Ruby Way" %>
<% @stylesheets = ["article"] %>

<div id="heading">
  <div class="grid_10">
    <h1><a href="/articles/auto_refresh_browser_on_file_change_the_ruby_way">
      Auto-Refresh your Browser on file change - The Ruby Way
    </a></h1>
  </div>
  <div class="grid_2">
    <ul id="meta">
      <li id="meta-date">
        <span id="meta-date-month">May</span>
        <span id="meta-date-day">31</span>
        <span id="meta-date-year">2010</span>
      </li>
      <li id="meta-comments"><a href="#comments">13 Comments</a></li>
      <li id="meta-next-article"></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>


<div id="content">
  <div class="grid_6">
    <p id="ruby">
      
    </p>
    <p id="terminal">
      Termian start
    </p>
    <p id="textmate">
      TM
    </p>
    <p id="firefox">
      Grrrrr!
    </p>
  </div>
  <div class="grid_6">
    <script src="http://gist.github.com/428174.js?file=brundle.rb"></script>
  </div>
</div>