<% @title = "Auto-Refresh your Browser on file change - The Ruby Way" %>
<% @stylesheets = ["article"] %>

<div id="heading">
  <div class="grid_10">
    <h1><a href="/articles/auto_refresh_browser_on_file_change_the_ruby_way">
      Auto-Refresh your Browser on file change - The Ruby Way
    </a></h1>
  </div>
  <div class="grid_2">
    <ul id="meta">
      <li id="meta-date">
        <span id="meta-date-month">June</span>
        <span id="meta-date-day">18</span>
        <span id="meta-date-year">2010</span>
      </li>
      <li id="meta-prev-article"><a href="/articles/creating_subdomains_with_apache2">&laquo; Creating Subdomains with Apache2</a></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>


<div id="content">
  <div class="grid_6">
    <p id="ruby">
      With the <a href="http://github.com/TwP/directory_watcher/">directory_watcher</a> Gem we can watch
      whole directories with ease. We let our script know what directory to watch via a argument.
    </p>
    <p id="terminal">
      <code>ruby brundle.rb /code/project</code> to start the script and the observer. All files in this directory now will be watched for changes.
    </p>
    <p id="textmate">
      My favorite text editor is <a href="http://macromates.com/">TextMate</a> so that's what I'm using here. Let's change a file in the project and
      the observer will trigger and execute the <a href="http://developer.apple.com/applescript/">AppleScript</a>.
    </p>
    <p id="firefox">
      Firefox (again, choose your browser of choice) will get focus and the following keys are pressed: <code>cmd-1</code> to select first tab and <code>cmd-r</code>
      to reload the site. While reloading TextMate will get the focus again and we can continue developing. Easy!
    </p>
  </div>
  <div class="grid_6">
    <script src="http://gist.github.com/428174.js?file=brundle.rb"></script>
  </div>
</div>