<% @title = "404 - Not Found" %>

<div id="heading" class="grid_12">
  <h1>Oh snap! Could not find what you are looking for...</h1>
</div>

<div id="content" class="grid_12">
  <h2><a href="/">How about heading home?</a></h2>
</div>