#heading { background: url(../../images/chameleon.jpg) no-repeat top right; position: relative;
  h1 { padding-top: 190px;
    span { padding-bottom: 30px; }
  }
  
  #meta { position: absolute; top: 100px; left: 10px; }
}