<% @title = "Create a Micro Chameleon Blog with Sinatra" %>
<% @stylesheets = ["article"] %>

<div id="heading">
  <div class="grid_10">
    <h1><a href="/articles/create_a_micro_chameleon_blog_with_sinatra">
      Create a Micro Chameleon Blog with Sinatra
      <span>A different style with every article</span>
    </a></h1>
    
    <a href="http://www.flickr.com/photos/lejade/2538540538/" id="attribution">Chameleon Shot by Olivier Lejade</a>
  </div>
  <div class="grid_2">
    <ul id="meta">
      <li id="meta-date">
        <span id="meta-date-month">May</span>
        <span id="meta-date-day">31</span>
        <span id="meta-date-year">2010</span>
      </li>
      <li id="meta-comments"><a href="#comments">13 Comments</a></li>
      <li id="meta-next-article"></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>


<div id="content">
  <div class="grid_5">
    <h2>What the hell is a <i>Chameleon Blog</i> anyway?</h2> 
    <p>
      <a href="http://en.wikipedia.org/wiki/Chameleon#Change_of_color">Some chameleon species are able to change their skin colors</a>
      and some Blogs are able to change their design with different articles.
    </p>
    <p>
      The <a href="http://jasonsantamaria.com/">Blog of Jason Santa Maria</a> may be the best known example.
    </p>
    <p>
      I thought it would be a "neat" comparison. In other words the Blog has a basic design and additional stylesheets (and javascripts)
      can be applied to each article resulting in a changing look.
    </p>
  </div>
  <div class="prefix_1 grid_6">
    <h2>When and why should you want such a Blog?</h2>
    <p>
      <strong>When:</strong> If you are a lazy blogger but an eager developer, just like me. I tried several times to keep
      on blogging without success. I just have too many ideas in my head I want to try out. But from time to time even I like to share
      some experiments and insights (over <a href="http://twitter.com/mustardamus">140</a> characters).
    </p>
    <p>
      <strong>Why:</strong> To spice things up. You write and create at the same time, see every article as it's own. Even if you don't blog
      regularly readers will be happy to come back and see your new work (instead of just new content).
    </p>
    <p>
      Another good reason is the ability to turn your article into a live demo for CSS and JS experiments.
    </p>
  </div>
</div>