<% @title = "A Newer Article" %>

<div id="heading">
  <div class="grid_10">
    <h1><a href="articles/one_newer_article">
      A Newer Article
      <span>And a punchline!</span>
    </a></h1>
  </div>
  <div class="grid_2">
    <ul id="meta">
      <li id="meta-date">
        <span id="meta-date-month">May</span>
        <span id="meta-date-day">31</span>
        <span id="meta-date-year">2010</span>
      </li>
      <li id="meta-comments"><a href="#comments">13 Comments</a></li>
      <li id="meta-prev-article"><a href="#">&laquo; Hello World</a></li>
      <li id="meta-next-article"><a href="#">Just the next article &raquo;</a></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>


<div id="content">
  <h2>Huh just test the RSS</h2>
</div>