<% @title = "jQuery Terminal Fun" %>
<% @stylesheets = ["article"] %>
<% @javascripts = ["terminal"] %>

<div id="heading">
  <div class="grid_10">
    <h1><a href="/articles/jquery_terminal_fun">
      jQuery Terminal Fun
      <span>Stoner experiment.</span>
    </a></h1>
  </div>
  <div class="grid_2">
    <ul id="meta">
      <li id="meta-date">
        <span id="meta-date-month">June</span>
        <span id="meta-date-day">03</span>
        <span id="meta-date-year">2010</span>
      </li>
      <li id="meta-comments"><a href="#comments">13 Comments</a></li>
      <li id="meta-next-article"></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>


<div id="content">
  <div class="grid_12">
    <div id="commands">
      <h3>Commands</h3>
      
      <a href="#toggle-output" id="toggleoutput">Hide Output</a>
    </div>
    
    <div id="terminal">
      <div id="terminal-top">Even some text?</div>

      <ul id="terminal-output">
        <li class="command">help</li>
        <li class="output"><pre>Help is here!</pre></li>
        
        <li class="command">git add remote whatever und was weis ich man einfach land line brechend</li>
        <li class="output"><pre>.
..
/uh
/ah
/system</pre>
</li><li class="command">ls - a</li>
<li class="output"><pre>.
..
/uh
/ah
/system</pre>
</li><li class="command">ls - a</li>
<li class="output"><pre>.
..
/uh
/ah
/system</pre>
</li><li class="command">ls - a</li>
<li class="output"><pre>.
..
/uh
/ah
/system</pre>
</li><li class="command">ls - a</li>
<li class="output"><pre>.
..
/uh
/ah
/system</pre>
</li>

        <li class="command">exit</li>
      </ul>

      <div id="terminal-bottom"></div>
    </div>
  </div>
</div>