<% @title = "jQuery Terminal Fun" %>
<% @stylesheets = ["article"] %>
<% @javascripts = ["terminal"] %>

<div id="heading">
  <div class="grid_10">
    <h1><a href="/articles/jquery_terminal_fun">
      jQuery Terminal Fun
      <span>Automation is sooo great!</span>
    </a></h1>
  </div>
  <div class="grid_2">
    <ul id="meta">
      <li id="meta-date">
        <span id="meta-date-month">June</span>
        <span id="meta-date-day">03</span>
        <span id="meta-date-year">2010</span>
      </li>
      <li id="meta-comments"><a href="#comments">13 Comments</a></li>
      <li id="meta-next-article"></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>


<div id="content">
  <div class="grid_12">
    <div id="commands">
      <h3>Commands</h3>
      
      <a href="#toggle-output" id="toggleoutput">Hide Output</a>
    </div>
    
    <div id="terminal">
      <div id="terminal-top">Even some text?</div>

      <ul id="terminal-output">
        <li class="command">git add .</li>

        <li class="command">git commit -m "$$ bill ya'll" fsfgfgsd dfsg dfs dfgs dfg</li>
        <li class="output"><pre>[master 8a4199f] 2992 bill ya'll
5 files changed, 141 insertions(+), 0 deletions(-)
create mode 100644 articles/jquery_terminal_fun/article.erb
create mode 100644 articles/jquery_terminal_fun/article.less
create mode 100644 articles/jquery_terminal_fun/terminal.js
create mode 100644 public/images/terminal.png</pre>
        </li>
        
        <li class="command">irb</li>
        <li class="output"><pre>>> 20.times do
?> puts "break"
>> end
break
break
break
break
break
break
break
break
break
break
break
break
break
break
break
break
break
break
break
break
=> 20
>> exit</pre></li>
      </ul>

      <div id="terminal-bottom"></div>
    </div>
  </div>
</div>